.img{
    height:500px;
    width:100%;
    border-radius: 1%;
}

.carousel-container {
    position: relative;
  }
  
  .carousel-container .search-form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 100; 
  }
  

  @media (max-width: 768px) {
    .carousel-container .search-form-container {
      width: 90%;
      padding: 15px;
    }
  }

  .form-select {
    width: 250px;
  }
  

  .search-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 20px;
    transition: 0.3s;
  }
  
  .search-btn:hover {
    background-color: #0056b3;
  }